################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GemCarryServer/bin/Debug/GemCarryServer.vshost.exe.manifest
